<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="title1">Crear Ramo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >

  <!-- formulario para crear ramo -->

  <div class="caja-form">

    <div class="caja-imagen">
      <img class="imagen-crear-ramos" src="../../../assets/imagenes/ramosc.png" alt="">
    </div>

    <div class="formulario">
      <ion-item>
        <ion-label>Usuario: {{this.usuario.name}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>Ramo:</ion-label>
        <ion-input [(ngModel)]="ramo.name"  placeholder="Nombre ramo"> </ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Seccion:</ion-label>
        <ion-input [(ngModel)]="ramo.seccion" placeholder="Nombre seccion"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Clases:</ion-label>
        <ion-input [(ngModel)]="ramo.clases" placeholder="cantidad de clases"></ion-input>
      </ion-item>
    </div>

    <ion-item>
      <ion-button (click)="generarRamo(this.usuario.id, this.ramo.name, this.ramo.seccion, this.ramo.clases)" class="boton-recuperar">Generar Ramo</ion-button> 
    </ion-item> 


  </div>







  <!-- barra navegacions -->
  <ion-tabs>
    <ion-tab-bar >
      <ion-tab-button [routerLink] = "['/user']" >
        <ion-icon name="person"></ion-icon>
        Usuario
      </ion-tab-button>

      <ion-tab-button [routerLink] = "['/home']">
        <ion-icon name="home"></ion-icon>
        Home
      </ion-tab-button>

      <ion-tab-button >
        <ion-icon name="qr-code"></ion-icon>
        Codigo QR
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
