<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>qr</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- formulario para crear materia -->
  <Div>
    <label>Dueño: Cristopher</label>
    <ion-input> Ramo: </ion-input>
    <ion-input> Seccion: </ion-input>
    <label >activo</label>
    <ion-input> fecha inicio: </ion-input>
    <label >qr</label>

  </Div>


  <div>
    <ion-button class="boton-1"> Generar Ramo</ion-button>
    <ion-button class="boton-1"> Escanear Qr </ion-button>
  </div>


  <!-- barra navegacions -->
  <ion-tabs>
    <ion-tab-bar >
      <ion-tab-button [routerLink] = "['/user']" >
        <ion-icon name="person"></ion-icon>
        Usuario
      </ion-tab-button>

      <ion-tab-button [routerLink] = "['/home']">
        <ion-icon name="home"></ion-icon>
        Home
      </ion-tab-button>

      <ion-tab-button >
        <ion-icon name="qr-code"></ion-icon>
        Codigo QR
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>

