<ion-header [style.visibility]="content_visibility">
  <ion-toolbar>
    <ion-title class="title1">QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [style.visibility]="content_visibility">


  <ion-item>
    <ion-button class="boton1" (click)="startScan()"> Escanear Codigo QR</ion-button>
  </ion-item>

  <ion-item *ngIf="scannedResult">
    <p class="ion-text-wrap">Resultado del Scaner: {{scannedResult}}</p>
  </ion-item>

  <ion-item>
    <ion-button class="boton1" (click)="this.GuardarAsistencia(this.scannedResult,this.usuario)"> Guardar Asistencia</ion-button>
  </ion-item>
 
  

  <!-- barra navegacions -->
  <ion-tabs>
    <ion-tab-bar >
      <ion-tab-button [routerLink] = "['/user']" >
        <ion-icon name="person"></ion-icon>
        Usuario
      </ion-tab-button>

      <ion-tab-button [routerLink] = "['/home']">
        <ion-icon name="home"></ion-icon>
        Home
      </ion-tab-button>

      <ion-tab-button >
        <ion-icon name="qr-code"></ion-icon>
        Codigo QR
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
</ion-content>

