<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="title1">ramos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="caja-ramos">

    <ion-grid>
      <ion-row class="ramo-box">

        <ion-col class="">
          <p>Dueño: Cristopher</p>
          <p>Ramo: mates</p>
          <p>seccion: 002D</p>
          <p>fecha creacion: 01/02/2023</p>

        </ion-col>
        <ion-col class="box-imgen">
          <ion-tab-button [routerLink]="['/home/qrgenerado']">
          <img class="img-generar-qr" src="../../../assets/imagenes/generar qr.png" alt="">
          <p class="texto-imagen">Generar QR</p>
          </ion-tab-button>
        </ion-col>
      </ion-row>

      <ion-row class="ramo-box">

        <ion-col class="">
          <p>Dueño: Cristopher</p>
          <p>Ramo: mates</p>
          <p>seccion: 002D</p>
          <p>fecha creacion: 01/02/2023</p>

        </ion-col>
        <ion-col class="box-imgen">
          <ion-tab-button [routerLink]="['/home/qrgenerado']">
          <img class="img-generar-qr" src="../../../assets/imagenes/generar qr.png" alt="">
          <p class="texto-imagen">Generar QR</p>
          </ion-tab-button>
        </ion-col>
      </ion-row>

      <ion-row class="ramo-box">

        <ion-col class="">
          <p>Dueño: Cristopher</p>
          <p>Ramo: mates</p>
          <p>seccion: 002D</p>
          <p>fecha creacion: 01/02/2023</p>

        </ion-col>
        <ion-col class="box-imgen">
          <ion-tab-button [routerLink]="['/home/qrgenerado']">
          <img class="img-generar-qr" src="../../../assets/imagenes/generar qr.png" alt="">
          <p class="texto-imagen">Generar QR</p>
          </ion-tab-button>
        </ion-col>
      </ion-row>

      <ion-row class="ramo-box">

        <ion-col class="">
          <p>Dueño: Cristopher</p>
          <p>Ramo: mates</p>
          <p>seccion: 002D</p>
          <p>fecha creacion: 01/02/2023</p>

        </ion-col>
        <ion-col class="box-imgen">
          <ion-tab-button [routerLink]="['/home/qrgenerado']">
          <img class="img-generar-qr" src="../../../assets/imagenes/generar qr.png" alt="">
          <p class="texto-imagen">Generar QR</p>
          </ion-tab-button>
        </ion-col>
      </ion-row>

    </ion-grid>

  </div>


</ion-content>
