<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="title1">ramos</ion-title>
    <ion-icon [routerLink] = "['/home']" name="close-outline" slot="end" size="large" ></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="caja-ramos">

    <ion-grid>
      <ion-row *ngFor="let ramo of this.listaRamos" class="ramo-box">

        <ion-col class="">
          <p>Dueño: {{this.usuario.name}} </p>
          <p>Ramo: {{ramo.nombre}}</p>
          <p>seccion: {{ramo.seccion}}</p>
          <p>fecha creacion: {{ramo.fecha}}</p>

        </ion-col>
        <ion-col class="box-imgen">
          <ion-tab-button [routerLink]="['/home/qrgenerado']">
          <img class="img-generar-qr" src="../../../assets/imagenes/generar qr.png" alt="">
          <p class="texto-imagen">Generar QR</p>
          </ion-tab-button>
        </ion-col>
      </ion-row>

      

    </ion-grid>

  </div>


</ion-content>
