<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="title1">asistencia</ion-title>
    <ion-icon [routerLink] = "['/home']" name="close-outline" slot="end" size="large" ></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">



  <!-- formato para ver ramos asistencia -->
  <div class="ramos-box">
    <ion-list>
      <ion-item class="item-materia">
          <ion-grid class="info-materia-box">

            <ion-row>
              <h5>Materia nombre</h5>
            </ion-row>

            <ion-row>
              <p>Asistencia: 30% (3 de 10)</p>
            </ion-row>
          </ion-grid>

      </ion-item>

      <ion-item  class="item-materia">
        <ion-grid class="info-materia-box">
          <ion-row>
            <h5>Materia nombre</h5>
          </ion-row>
          <ion-row>  <p>Asistencia: 30% (3 de 10)</p></ion-row>
        </ion-grid>

      </ion-item>

      <ion-item  class="item-materia">
        <ion-grid class="info-materia-box">
          <ion-row>
            <h5>Materia nombre</h5>
          </ion-row>
          <ion-row>  <p>Asistencia: 30% (3 de 10)</p></ion-row>
        </ion-grid>

      </ion-item>

      <ion-item class="item-materia">
        <ion-grid class="info-materia-box">

          <ion-row>
            <h5>Materia nombre</h5>
          </ion-row>

          <ion-row>
            <p>Asistencia: 30% (3 de 10)</p>
          </ion-row>
        </ion-grid>

    </ion-item>

    <ion-item class="item-materia">
      <ion-grid class="info-materia-box">

        <ion-row>
          <h5>Materia nombre</h5>
        </ion-row>

        <ion-row>
          <p>Asistencia: 30% (3 de 10)</p>
        </ion-row>
      </ion-grid>

  </ion-item>

  <ion-item class="item-materia">
    <ion-grid class="info-materia-box">

      <ion-row>
        <h5>Materia nombre</h5>
      </ion-row>

      <ion-row>
        <p>Asistencia: 30% (3 de 10)</p>
      </ion-row>
    </ion-grid>

</ion-item>

<ion-item class="item-materia">
  <ion-grid class="info-materia-box">

    <ion-row>
      <h5>Materia nombre</h5>
    </ion-row>

    <ion-row>
      <p>Asistencia: 30% (3 de 10)</p>
    </ion-row>
  </ion-grid>

</ion-item>

<ion-item class="item-materia">
  <ion-grid class="info-materia-box">

    <ion-row>
      <h5>Materia nombre</h5>
    </ion-row>

    <ion-row>
      <p>Asistencia: 30% (3 de 10)</p>
    </ion-row>
  </ion-grid>

</ion-item>
    </ion-list>

  </div>




</ion-content>
