<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="title1">asistencia</ion-title>
    <ion-icon [routerLink] = "['/home']" name="close-outline" slot="end" size="large" ></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">



  <!-- formato para ver ramos asistencia -->
  <div class="ramos-box">
    <ion-list >
      <ion-item *ngFor="let asistencia of this.listaAsistencias"  class="item-materia">
          <ion-grid class="info-materia-box">

            <ion-row>
              <h5>{{asistencia.nameramo}}</h5>
            </ion-row>

            <ion-row>
              <p>Asistencia: {{(asistencia.cantidadasistencias/asistencia.clases)*100}}% ({{asistencia.cantidadasistencias}} de {{asistencia.clases}})</p>
            </ion-row>
          </ion-grid>

      </ion-item>
    </ion-list>

  </div>




</ion-content>
