

<ion-content [fullscreen]="true" >
  
  <div class="login-box">
     <div class="box-img-Dc">
     <img src="../../assets/imagenes/Logo_DuocUC.svg.png" alt="">
     </div>
 
     <div class="formulario">
       <div class="box-img">
         <img class="img" src="../../assets/imagenes/alumnos-duoc-960x600.jpg" alt="not found">
       </div> 
       <ion-item class="item-login">  
         <ion-label position="floating">Usuario</ion-label> 
         <ion-input type="text" [(ngModel)]="me.yo"></ion-input>
       </ion-item>
         
       <ion-item class="item-login">  
         <ion-label position="floating" >Contraseña</ion-label> 
         <ion-input type="password" [(ngModel)]="me.password" ></ion-input>
       </ion-item>
         
       <div class="box-recuperar"> 
       <ion-button (click)="goTohome()" class="boton-goToHome"> <ion-icon name="log-in-outline"></ion-icon> </ion-button>
       </div>
 
     <div class="box-recuperar">
       <p class="Recuperar" [routerLink] = "['/rcontrasena']">¿Olvidaste tu contraseña?</p>
     </div>
     
     </div>
   </div>
 
 
 
</ion-content>
 