.title1{
  text-align: center;
}

.box-formulario{

    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 20px;


}
.boton-recuperar{
    max-width: 150px;
    width: 150px;
    color: rgb(255, 255, 255);

}

.box-img{

    width: auto;
    max-width: 500px;
    height: auto;
    max-height: 370px;

}

.box-recuperar{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.boton-recuperar{

    margin: 10px;
    font-size: 10px;

}

.inputs-form{
    box-shadow: 10px 10px 10px rgb(83, 82, 82);
}

.info{

    min-height: 10vh;
    background: rgb(47, 45, 45);

}

.title-contact{
    color: rgba(255, 184, 0, 1) ;
    border-bottom: solid 8px rgba(255, 184, 0, 1) ;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-bottom: 0;
    font-family: 'Merriweather', serif;
}

h2{

    font-family: 'Merriweather', serif;
    color: #fff;
    border-color: #fff;
    padding-left: 10px;
}

p{
    color: #fff;
    border-color: #fff;

}

.icono-back-login{
    margin: 5px;
}
