<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Recuperar contraseña</ion-title>
    <ion-icon [routerLink] = "['/login']" name="log-in-outline" slot="end" size="large" class="icono-back-login"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- caja formulario -->
<div class="box-formulario">


  <div class="inputs-form">
  <div class="box-img">
    <img src="../../assets/imagenes/Oh my good.jpg" alt="not found">
  </div>

  <ion-list>
      
    <ion-item class="item-login">  
      <ion-label position="floating" >Correo Duoc</ion-label> 
      <ion-input type="password"  ></ion-input>
    </ion-item>

    <div class="box-recuperar">
      <ion-button class="boton-recuperar">Recuperar</ion-button>
    </div>
 
  </ion-list>
  </div>
</div>


</ion-content>
