<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="title1">Recuperar contraseña</ion-title>
    <ion-icon [routerLink] = "['/login']" name="log-in-outline" slot="end" size="large" class="icono-back-login"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- caja formulario -->

  <div class="box-formulario">
    <div class="inputs-form">
      <div class="box-img">
        <img src="../../assets/imagenes/Oh my good.jpg" alt="not found">
      </div>
     
      <ion-list>

        <ion-item class="item-login">
          <ion-input required="true" label="Correo Duoc:" type="email" placeholder="cr.pino@duocuc.cl"name="email" ></ion-input>
        </ion-item>

        <ion-item class="item-login">
          <ion-input label="Asunto" required="true" type="text" name="subject"  ></ion-input>
        </ion-item>

        <ion-item class="item-login">
          <ion-textarea label="Mensaje" required="true" type="text"  name="comments" ></ion-textarea>
        </ion-item>

        <div class="box-recuperar">
          <ion-button class="boton-recuperar" type="submit" value="nviar">Recuperar</ion-button>
        </div>

      </ion-list>
    </div>
  </div>
</ion-content>
