<ion-header [translucent]="true">

  <ion-toolbar>
    <ion-title>User</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="userCard">

    <!--Imagen del usuario -->
    <!--Debe permitir modificar la foto-->
    <img class="userCard-img" alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />

    <!--Nombre del usuario -->
    <ion-card-header>
      <ion-card-title>Cristopher Piña<!--{{usuario}}--></ion-card-title>
    </ion-card-header>

    <!--Lista con la info del usuario-->
    <ion-list class="userCard-list" lines="none">
      <ion-item>
        <!--Vista sin presionar el boton *editar* -->
        <ion-label class="userCard-user-info">Usuario</ion-label>
        <ion-button class="userCard-user-info" slot="end" size="Default" shape="round">Editar</ion-button>
      </ion-item>
      <ion-item>
        <!--Vista sin presionar el boton *editar* -->
        <ion-label class="userCard-user-info">Telefono</ion-label>
        <ion-button class="userCard-user-info" slot="end" size="Default" shape="round">Editar</ion-button>
      </ion-item>
      <ion-item>
        <!--Vista sin presionar el boton *editar* -->
        <ion-label class="userCard-user-info">Direcion</ion-label>
        <ion-button class="userCard-user-info" slot="end" size="Default" shape="round">Editar</ion-button>
      </ion-item>

      <!--Vista presionando el boton editar -->
      <ion-item>
        <ion-input label="Introduzca nuevo nombre de usuario" label-placement="floating" fill="outline" placeholder="Introduzca nuevo usuario"></ion-input>
        <ion-button slot="end" size="Default" shape="round">Guardar</ion-button>
      </ion-item>

    </ion-list>
  </ion-card>




  <ion-tabs>
    <ion-tab-bar >
      <ion-tab-button [routerLink] = "['/user']">
        <ion-icon name="person"></ion-icon>
        Usuario
      </ion-tab-button>

      <ion-tab-button [routerLink] = "['/home']">
        <ion-icon name="home"></ion-icon>
        Home
      </ion-tab-button>

      <ion-tab-button [routerLink] = "['/qr']">
        <ion-icon name="qr-code"></ion-icon>
        Codigo QR
      </ion-tab-button>
    </ion-tab-bar>
   </ion-tabs>
</ion-content>
