<ion-header [translucent]="true">

  <ion-toolbar>
    <ion-title>User</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="caja-usuario">
    <ion-card class="Usuario-1">

     
        <div class="avatarDiv">
          <img class="avatarPhoto" alt="Silhouette of a person's head"
               src="https://ionicframework.com/docs/img/demos/avatar.svg"/>
        </div>
      

      <ion-card-content>
        <ion-grid>
          <ion-row class="ion-justify-content-center">
              <p class="name-user-item" >{{this.usuario.name}} {{this.usuario.apellido}}</p>          
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
    
    <!-- Inputs de cambio de informacion personal -->
    <ion-list class="list" lines="none">
      <div >
        <label for=""></label>
        <p class="dato-user">Telefono: +56{{this.usuario.telefono}}</p>
      </div>
      <div>
        <p class="dato-user">Sede: {{this.usuario.sede}}</p>
      </div>
      <div>
        <p class="dato-user">Carrera: {{this.usuario.carrera}}</p>
      </div>
    </ion-list>
  </div>



  <!-- barra navegacions -->
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button>
        <ion-icon name="person"></ion-icon>
        Usuario
      </ion-tab-button>

      <ion-tab-button [routerLink]="['/home']">
        <ion-icon name="home"></ion-icon>
        Home
      </ion-tab-button>

      <ion-tab-button [routerLink]="['/qr']">
        <ion-icon name="qr-code"></ion-icon>
        Codigo QR
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
