<ion-header [translucent]="true">

  <ion-toolbar>
    <ion-title>User</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <ion-card>

      <ion-card-header>
        <div class="avatarDiv">
          <img class="avatarPhoto" alt="Silhouette of a person's head"
               src="https://ionicframework.com/docs/img/demos/avatar.svg"/>
        </div>
      </ion-card-header>

      <ion-card-content>
        <ion-grid>
          <ion-row class="ion-justify-content-center">
            <ion-item lines="none">
              <ion-label>Cristopher</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-label>Piña</ion-label>
            </ion-item>
          </ion-row>
          <ion-row class="ion-justify-content-center">
            <ion-item lines="none">
              <ion-label>cr.pina@duocuc.cl</ion-label>
            </ion-item>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
    <div class="list">
      <ion-grid>
        <ion-row>
          <ion-col size="5" >
            <ion-input label="Teléfono" label-placement="floating" fill="outline"
                       placeholder="Ingrese nuevo número teléfonico"></ion-input>
          </ion-col>
          <ion-col size="5" class="buttonEdit">
            <ion-button > Guardar</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <!-- Inputs de cambio de informacion personal -->
    <ion-list class="list" lines="none">
      <ion-item>
        <ion-label>Telefono</ion-label>
        <ion-button class="editButtom" slot="end"> Editar</ion-button>
      </ion-item>
      <ion-item>
        <ion-label>Contraseña</ion-label>
        <ion-button class="editButtom" slot="end"> Editar</ion-button>
      </ion-item>
      <ion-item>
        <ion-label>Confirmar contraseña</ion-label>
        <ion-button class="editButtom" slot="end"> Editar</ion-button>
      </ion-item>
    </ion-list>
  </div>



  <!-- barra navegacions -->
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button>
        <ion-icon name="person"></ion-icon>
        Usuario
      </ion-tab-button>

      <ion-tab-button [routerLink]="['/home']">
        <ion-icon name="home"></ion-icon>
        Home
      </ion-tab-button>

      <ion-tab-button [routerLink]="['/qr']">
        <ion-icon name="qr-code"></ion-icon>
        Codigo QR
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
