<ion-header [translucent]="true">
  <ion-toolbar>
   <img src="../../assets/imagenes/Logo_DuocUC.svg.png" alt="Img not Found" class="imagenheader">
   <ion-icon [routerLink] = "['/login']" name="close-outline" slot="end" size="large" ></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content >

  <div class="box-1" >
    <div class="box-saludo">
      <p class="saludo">Bienvenido {{usuario.name}}</p>
      <img src="../../assets/imagenes/Entrada.jpeg" alt="Not Found" class="imagenmenu">
      <p class="saludo">Duoc UC Viña</p>
    </div>
  </div>


  <ion-grid class="box-2">
    <ion-row>
      <ion-col class="opcion-menu"  >
        <ion-tab-button [routerLink] =  "['/home/asistencia']">
          <img  class="imagen-opciones-menu" src="../../assets/imagenes/asis2.png" alt="">
          <p class="opcion-menu-text">Asistencia</p>
        </ion-tab-button>

      </ion-col>

      <ion-col *ngIf="usuario.categoria === 'Profesor' " class="opcion-menu" >
        <ion-tab-button [routerLink] =  "['/home/ramo']">
          <img  class="imagen-opciones-menu" src="../../assets/imagenes/materias.png" alt="">
          <p class="opcion-menu-text">Ramos</p>
        </ion-tab-button>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="usuario.categoria === 'Profesor' ">
      <ion-col class="opcion-menu">
      <ion-tab-button [routerLink] = "['/home/crear-ramo']">
        <img  class="imagen-opciones-menu" src="../../assets/imagenes/generarRamo.png" alt="">
        <p class="opcion-menu-text">Generar ramo</p>
      </ion-tab-button>
      </ion-col>
    </ion-row>


  </ion-grid>

  <!-- barra navegacions -->
    <ion-tabs>
      <ion-tab-bar >
        <ion-tab-button [routerLink] = "['/user']" >
          <ion-icon name="person"></ion-icon>
          Usuario
        </ion-tab-button>

        <ion-tab-button >
          <ion-icon name="home"></ion-icon>
          Home
        </ion-tab-button>

        <ion-tab-button [routerLink] = "['/qr']">
          <ion-icon name="qr-code"></ion-icon>
          Codigo QR
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>

</ion-content>
